#nanoc-lunrjs-results{ style: 'display: none;' }
  %h3 Search results
  .entries.list-group

:plain
  <script id="nanoc-lunrjs-results-template" type="text/mustache">
    {{#entries}}
      <a href="{{url}}" class="list-group-item">
        <h4 class="list-group-item-heading">
          {{title}}
          <small>{{subtitle}}</small>
        </h4>
        <p class="list-group-item-text">{{url}}</p>
      </a>
    {{/entries}}
  </script>
