#nanoc-lunrjs-search
  .input-group.controls
    %input.form-control{ type: 'search', placeholder: 'Search...' }
    %span.input-group-btn
      %button.btn.btn-default.all{ type: 'button' }
        %i.glyphicon.glyphicon-search
